/* stylesheet for build-a-tribute-page */

#main-container {
	background-color: #e3a92f;
	max-width: 1024px;
	margin: 3rem auto 3rem auto;
	border-radius: 0.5rem;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	margin-bottom: 0;
	height: auto;
}

#main-photo {
	width: 100%;
	border: 10px solid #222222;
	border-radius: 0.5rem;
}

.row {
	margin-bottom: 2rem;
}

#main-container .well-lg {
	background: rgba(255, 255, 255, 0.33);
}
