body {
	font-size: 14pt;
}

#navigation {
	background: #007381;
	color: #FFFFFF;
	padding: 2rem;
}

#navigation .navitem {
	margin: 0.5rem;
}

#navigation a {
	color: #ffffff;
	font-weight: bold;
}

#heading {
	font-size: 150%;
}

#heading h2 {
	font-size: 200%;
}

@media(max-width: 767px) {
	#navigation {
		position: fixed;
		width: 100%;
		text-align: center;
		padding: 0.5rem 2rem 0.5rem 2rem;
		margin-bottom: 0;
		z-index: 10;
	}

	#navigation .navitem {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		margin: 0 0.5rem 0 0.5rem;
	}

	#heading {
		padding-top: 6rem;
		padding-bottom: 3rem;
	}

	#heading>div {
		padding: 0 inherit;
	}
}


@media(min-width: 768px) {
	#navigation {
		position: fixed;
		height: 100%;
	}

	#navigation a {
		font-size: 150%;
	}

	#main {
		margin-top: 5rem;
	}

	#content>div {
		padding: 0 5rem;
	}

	.align-middle-container {
		position: relative;
		height: 400px;
	}

	.align-middle-block {
		max-height: 400px;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	#heading-text {
		padding-left: 5rem;
	}

	#main-portrait {
		margin-left: auto;
		margin-right: auto;
	}
}

#navheader {
	margin-top: 10rem;
}

#header {
	height: 400px;
}

#main-portrait {
	margin: 2rem auto;
	border: 1rem solid black;
}

.bg-gray {
	background: #bbbbbb;
}
