body {
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
}

#navigation {
	background: #007381;
	color: #FFFFFF;
}

#navigation div {
	margin: 0;
	padding: 0;
}

#navigation .navitem {
}

#navigation a {
	color: #ffffff;
	font-weight: bold;
}

div#navheader {
	margin-top: 6rem;
}

div#navheader p {
	margin-bottom: 4rem;
}

#heading {
	font-size: 150%;
}

#heading h2 {
	font-size: 200%;
}

#main-portrait {
	margin: 2rem auto;
	border: 1rem solid black;
}

.bg-gray {
	background: #bbbbbb;
}


@media(max-width: 767px) {
	#navigation {
		position: fixed;
		width: 100%;
		text-align: center;
		padding: 0.5rem;
		margin-bottom: 0;
		z-index: 10;
	}

	#navigation .navitem {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		margin: 0 0.5rem 0 0.5rem;
	}

	#heading {
		padding-top: 6rem;
		padding-bottom: 3rem;
		margin-bottom: 3rem;
	}

	#heading>div {
		padding: 0 inherit;
		text-align: center;
	}

	#main>div {
		margin-bottom: 1rem;
	}

}


@media(min-width: 768px) {
	#navigation {
		position: fixed;
		height: 100%;
		padding: 0;
	}

	#navigation .row {
		padding: 0 2rem;
	}

	#navigation a {
		font-size: 150%;
	}

	#heading {
		margin-bottom: 5rem;
	}

	#content>div {
		padding: 0 5rem;
	}

	.align-middle-container {
		position: relative;
		height: 400px;
	}

	.align-middle-block {
		max-height: 400px;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	#heading-text {
		padding-left: 5rem;
	}

	#main-portrait {
		margin-left: auto;
		margin-right: auto;
	}

	#main>div {
		margin-bottom: 3rem;
	}
}
